.card-welcome{
  text-align: center;
  bacground-color: grey;
}
#card-About{
  
  color: black;
  text-align: center;
  font: weight 2.6em;
}
#card-services{
  text-align: center;
  
}
 
#container{
  text-align: center;
3  
}
#card-portfolio{
  text-align: center;
  
}
contact-US{
  text-align: center;
  
}
footer{
  text-align: center;
}